# This .env file stores credentials for Hedera Testnet only.
# Do **not** reuse or share any credentials from Hedera Mainnet,
# as this file is stored as plain text on disk,
# and is therefore not secure enough.

# BIP-39 seed phrase
SEED_PHRASE=
NUM_ACCOUNTS=

# JSON-RPC endpoint
RPC_URL=

# Operator account
OPERATOR_ACCOUNT_PRIVATE_KEY=
OPERATOR_ACCOUNT_EVM_ADDRESS=
OPERATOR_ACCOUNT_ID=

## Account #0
ACCOUNT_0_PRIVATE_KEY=
ACCOUNT_0_EVM_ADDRESS=
ACCOUNT_0_ID=


## Account #1
ACCOUNT_1_PRIVATE_KEY=
ACCOUNT_1_EVM_ADDRESS=
ACCOUNT_1_ID=


## Account #2
ACCOUNT_2_PRIVATE_KEY=
ACCOUNT_2_EVM_ADDRESS=
ACCOUNT_2_ID=
